torch==2.5.1
transformers==4.46.3
accelerate==1.1.1
sentence-transformers==3.2.1
scikit-learn==1.5.2
scipy==1.13.1
pandas==2.2.3
numpy==1.26.4
pyarrow==14.0.2
datasets==2.19.0
Pillow==10.4.0
matplotlib==3.7.5
contourpy==1.1.1
seaborn==0.12.2
